.CurrentWeather-container {
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.CurrentWeather-container h1 {
	font-size: 1.7em;
}

.CurrentWeather-container h2 {
	margin: 20px 0px 10px;
}

.CurrentWeather-details {
	display: flex;
	align-items: center;
}

.CurrentWeather-condition {
	font-size: 1em;
}